.app {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header"
    "body";
  grid-template-rows: 15% 85%;
}

.header {
  grid-area: header;
  background-color: var(--primary-color);
}

.body {
  grid-area: body;
  background-color: var(--secondary-color);
  padding-top: 10px;
}
