.app {
  min-height: 100vh;
  display: grid;
  grid-template:
    "header"
    "body";
  grid-template-rows: 10% 90%;
}

.header {
  grid-area: header;
  display: flex;
  background-color: var(--primary-color);
  color: white;
  font-size: xx-large;
  font-weight: bolder;
  padding-left: 10px;
  align-items: center;
}

.body {
  grid-area: body;
  background-color: var(--secondary-color);
  padding-top: 10px;
  display: flex;
}
